@import url('https://fonts.googleapis.com/css?family=Lustria|Lato');

.restaurant-pic {
	height: 50vh;
	background-image: url(../assets/pizza.jpg);
	background-size: cover;
	background-position: 0 40%;
}

.restaurant-info {
	height: 50vh;
}

.reservation {
	height: 25vh;
}

/* add a deli pattern background*/
.reservation-form-container {
	position: relative;
	height: 100%;
	background-image: url(../assets/brick.jpeg);
	background-size: cover;
	background-position: center;
	z-index: 50;
}

.reservation-form {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.restaurant-locator {
	height: 50px;
}

.navbar-brand {
	padding: 15px 0px 15px 0px;
	font-family: "Lato";
	font-size: 30px;
	font-variant: normal;
	color: #ffffff;
	letter-spacing: 5px;
}

#wrapper { position: relative; }
#over_map {
	padding: 10px 20px 20px 20px;
	position: absolute;
    left: 50%;
    top: 50px;
    bottom: 60px;
    height: 300px;
    width: 330px;
    margin-left: 315px;
    background: #fff;
    color: #0e2046;
    font-family: "Lato";
    border: #0e2046 solid 1px;
    font-size: 25px;
 }

 #over_map p{
    font-family: "Lato";
    font-size: 16px;
 }

#navbar li{
	font-family: "Lato";
    font-size: 16px;
    letter-spacing: 3px;
    vertical-align: middle;
}

#map {
	margin-top: 30px;
	height: 300px;
	clear: both;
}
